/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Actay-Regular';
    src: url('public/fonts/Actay-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'Actay-Bold';
    src: url('public/fonts/ActayWide-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('public/fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url('public/images/background-img.svg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(19.82%, rgba(0, 0, 0, 0.3)), color-stop(38.45%, rgba(70, 70, 70, 0.2173)), color-stop(87.39%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 19.82%, rgba(70, 70, 70, 0.2173) 38.45%, rgba(255, 255, 255, 0) 87.39%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 19.82%, rgba(70, 70, 70, 0.2173) 38.45%, rgba(255, 255, 255, 0) 87.39%);
    z-index: -10;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 15px;
}

.header__logo {
    font-family: 'Actay-Bold', serif;
    font-weight: 700;
    font-size: 20px;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main__title {
    font-family: 'Actay-Bold', serif;
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    margin-top: 2%;
}

.swiper--desktop {
    display: none;
}

.swiper-wrapper {
    margin-top: 2%;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 290px;
    font-family: 'Actay-Regular', serif;
    font-weight: 400;
    color: #F6FFD2;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.swiper-slide__back {
    position: absolute;
    z-index: -1;
}

.back__img {
    width: auto;
    height: 290px;
}

.card-comma {
    position: absolute;
    top: -5%;
    right: 1%;
}

.swiper-slide__number {
    position: relative;
    width: 74px;
    height: 74px;
    margin-bottom: 7%;
}

.number__ellipse-img {
    width: 100%;
    height: 74px;
}

.number__text {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.number__text-img {
    width: 100%;
    height: 57px;
}

.swiper__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
}

.navigation__prev, .navigation__next {
    font-family: 'Actay-Regular', serif;
    font-weight: 400;
    font-size: 14px;
    color: #F6FFD2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15%;
}

.button-info {
    background-color: white;
    border-radius: 141px;
    width: 181px;
    height: 50px;
    font-family: 'Inter', serif;
    color: black;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 3;
    background: white;
    color: black;
}

.menu__logo {
    color: #F2F3EF;
    font-family: 'Actay-Regular', serif;
    font-size: 20px;
    gap: 16px;
}

.close {
    cursor: pointer;
    font-size: 12px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Actay-Regular', serif;
    font-weight: 400;
    gap: 20px;
    margin-right: 10px;
}

.menu__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Actay-Regular', serif;
    font-weight: 400;
    font-size: 14px;
    gap: 20px;
    margin-top: 2%;
}

.menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.link {
    font-family: 'Actay-Regular', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10%;
    font-size: 14px;
    gap: 37%;
    position: relative;
    width: 180px;
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: black;
}

.header__menu--desktop {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
    -o-transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    overflow-y: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup {
    position: relative;
    width: 95%;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-height: 90vh;
    border-radius: 35px;
    padding: 50px 0;
}

.popup__close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.popup__close:hover {
    background: white;
}

.popup__content {
    position: relative;
    margin: 15px 10px 0 25px;
    max-height: calc(90vh - 215px);
    overflow-y: auto;
    font-size: 14px;
    font-family: 'Actay-Regular', serif;
    text-align: center;
    color: black;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup__content::-webkit-scrollbar {
    width: 6px;
}

.popup__content::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 8px;
}

.popup__content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border: 4px solid transparent;
}

.popup__content::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media (min-width: 768px) {
    body {
        background-image: url('public/images/background-img-desktop.svg');
    }

    .header {
        -webkit-box-pack: normal;
        -ms-flex-pack: normal;
        justify-content: normal;
        gap: 5%;
    }

    .header__menu {
        display: none;
    }

    .header__logo {
        font-size: 32px;
    }

    .main__title {
        font-size: 90px;
        margin-top: 1%;
    }

    .swiper {
        display: none;
    }

    .header__menu--desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    .menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        font-size: 20px;
        gap: 46px;
    }

    .link {
        color: white;
    }

    .link::after {
        background-color: white;
    }

    .swiper--desktop {
        display: block;
        margin-top: 3%;
    }

    .swiper-wrapper--desktop {
        position: relative;
        height: 480px;
        max-width: 1264px;
        margin: 0 auto;
    }

    .swiper-slide {
        background-image: url('public/images/icons/background-card-desktop.svg');
        background-size: auto 109px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 302px;
        height: 99px;
        font-family: 'Actay-Regular', serif;
        font-weight: 400;
        color: #F6FFD2;
        text-align: center;
        position: absolute;
    }

    .slide1 {
        top: -3%;
        left: 3%;
    }

    .slide2 {
        top: 49%;
        left: 10%;
    }

    .slide3 {
        top: 70%;
        left: 36%;
    }

    .slide4 {
        top: 17%;
        left: 32%;
    }

    .slide5 {
        top: 0;
        right: 5%;
    }

    .slide6 {
        top: 35%;
        right: 15%;
    }

    .card-comma {
        top: -20%;
        right: -5%;
    }

    .swiper-slide__number {
        width: 52px;
        height: 52px;
        margin-bottom: 3%;
    }

    .number__ellipse-img {
        height: 52px;
    }

    .number__text-img {
        height: 46px;
    }

    .swiper-wrapper__line1 {
        position: absolute;
        top: 16%;
        left: 5%;
        z-index: -5;
    }

    .swiper-wrapper__line2 {
        position: absolute;
        top: 66%;
        left: 23%;
        z-index: -5;
    }

    .swiper-wrapper__line3 {
        position: absolute;
        top: 34%;
        left: 38%;
        z-index: -5;
    }

    .swiper-wrapper__line4 {
        position: absolute;
        top: 6%;
        left: 50%;
        z-index: -5;
    }

    .swiper-wrapper__line5 {
        position: absolute;
        top: 16%;
        right: 3%;
        z-index: -5;
    }

    .info {
        margin-top: 0;
    }

    .button-info {
        width: 215px;
        height: 50px;
        font-size: 24px;
    }

    .popup-overlay {
        padding: 30px;
    }

    .popup {
        max-height: 70vh;
        width: 80%;
        margin: 0 auto;
        padding: 70px 0;
    }

    .popup__content {
        font-size: 20px;
        text-align: center;
        margin: 15px 20px 0 45px;
        max-height: calc(90vh - 285px);
    }

    .popup__close {
        top: 30px;
        right: 30px;
    }

    .close__img {
        width: auto;
        height: 26px;
    }
}